a:link {
  color: green;
}

a:hover {
  color: red;
}
.container {
  position: fixed;
  top: 70px;
  bottom: 0px;
  left: 0;
  right: 0;
  flex-direction: column;
}

.sidenav {
  top: 0px;
  bottom: 0;
  left: 0;
  background-color: #e6fbf8;
  flex-direction: column;
}

.list-item {
  color: red;
}

.detailed-pane{
  transition: 1s;
}