<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/student">Student</a>
      <a mat-list-item routerLink="/faculty">Faculty</a>
      <a mat-list-item routerLink="/department">Department</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="detailed-pane">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
