.container {
  display: flex;
}

.scroll-viewport {
  height: 500px;
  width: 250px;
  border: 1px solid red;
}

.scroll-item-detail {
  text-align: center;
  margin: 5px;
  height: auto;
  border-left: 1px dashed black;
  border-right: 1px dashed black;
  border-bottom: 1px dashed black;
}

.sub-content {
  text-align: center;
}

.input {
  padding: 10px;
  width: 200px;
  height: 30px;
  border: 1px solid #d5d577;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: Arial;
  font-size: 15px;
  color: #ffd52d;
  transition: 0.5s;
}

.box:hover input {
  width: 200px;
  background: #262618;
  border-radius: 10px;
  border: 2px solid #ffd52d;
}

.student-details {
  padding: 20px;
  width: 100%;
  display: table;
}

div.selected {
  background-color: #eaf6ff;
  border: 0.5px solid #3498db;
  color: #000000;
  border-radius: 10px;
  margin: 5px;
  transition: 0.25s;
}

.face {
  text-align: center;
  color: brown;
}
