<div class="container">
  <div class="student-search">
    <div class="box">
      <mat-icon fontIcon="search" />
      <input #searchBox [(ngModel)]="searchName" type="text" class="input" />
      <select [(ngModel)]="searchBy">
        <option *ngFor="let property of propertyList" [value]="property">
          {{ property }}
        </option>
      </select>
      <br />

      <cdk-virtual-scroll-viewport [itemSize]="50" class="scroll-viewport">
        <div
          appendOnly
          *cdkVirtualFor="
            let student of allStudents$ | async | search : searchName : searchBy
          "
        >
          <mat-list-item (click)="handleClick(student)">
            <div
              [class.selected]="selectedStudent === student"
              class="scroll-item-detail"
            >
              <div class="face">
                <mat-icon fontIcon="face" />
              </div>
              {{ student.name }}
              <div class="sub-content">
                {{ student.id }} | {{ student.department.title | acronym }}
              </div>
            </div>
          </mat-list-item>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
  <div class="student-details">
    <app-student-details
      [selectedStudent]="selectedStudent"
    ></app-student-details>
  </div>
</div>
