<mat-toolbar class="header">
  <span class="spacer-location">My WebApp</span>
  <mat-form-field>
    <mat-label>Location</mat-label>
    <mat-select
      name="selectedLocation"
      [(ngModel)]="selectedLocation"
      class="location-selection"
      (selectionChange)="handleLocationSelect()"
      [value]="selectedLocation"
    >
      <mat-option *ngFor="let location of locations" [value]="location">
        {{ location.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</mat-toolbar>
