<form [formGroup]="studentForm" (ngSubmit)="handleSubmit()">
  <mat-card class="form-container">
    <mat-card-header *ngIf="mode == 'add'; else studentUpdate" class="title"
      >Register New Student</mat-card-header
    >
    <ng-template #studentUpdate>
      <mat-card-header class="title"
        >Update Student ID: {{ studentForm.get("id")?.value }}</mat-card-header
      >
    </ng-template>
    <mat-card-content>
      <table class="content">
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" placeholder="RX" />
              <mat-hint
                class="hint-error"
                *ngIf="studentForm.get('name')?.touched && studentForm.get('name')?.errors?.['required']"
              >
                Please enter name
              </mat-hint>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Grades</mat-label>
              <input
                matInput
                step="0.1"
                min="1.0"
                max="10.0"
                type="number"
                formControlName="grades"
                placeholder="x.x"
              />
              <mat-hint
                class="hint-error"
                *ngIf="studentForm.get('grades')?.touched && studentForm.get('grades')?.errors?.['required']"
              >
                Please enter your grades within 1.0 to 10.0
              </mat-hint>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Select Department</mat-label>
              <mat-select
                formControlName="department"
                ngDefaultControl
                (selectionChange)="handleDeptInput()"
              >
                <mat-option
                  *ngFor="let dept of departments"
                  [value]="dept.title"
                  ngDefaultControl
                >
                  {{ dept.title }}
                </mat-option>
              </mat-select>
              <mat-hint
                class="hint-error"
                *ngIf="studentForm.get('department')?.touched && studentForm.get('department')?.errors?.['required']"
                >Please select the Department
              </mat-hint>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Location</mat-label>
              <mat-select
                formControlName="location"
                ngDefaultControl
                (selectionChange)="handleLocationInput()"
              >
                <mat-option
                  *ngFor="let location of locations"
                  [value]="location.name"
                >
                  {{ location.name }}
                </mat-option>
              </mat-select>
              <mat-hint
                *ngIf="studentForm.get('location')?.touched && studentForm.get('location')?.errors?.['required']"
              >
                Please select the location
              </mat-hint>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Semster</mat-label>
              <mat-select formControlName="semester" ngDefaultControl>
                <mat-option
                  *ngFor="let sem of [1, 2, 3, 4, 5, 6, 7, 8]"
                  [value]="sem"
                >
                  {{ sem }}
                </mat-option>
              </mat-select>
              <mat-hint
                class="hint-error"
                *ngIf="studentForm.get('semester')?.touched && studentForm.get('semester')?.errors?.['required']"
                >Please select Semester
              </mat-hint>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>HOD</mat-label>
              <input
                matInput
                formControlName="hod"
                placeholder="HOD"
                readonly="readonly"
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field color="accent">
              <mat-label>Date of Birth</mat-label>
              <input
                formControlName="dob"
                matInput
                [matDatepicker]="picker2"
                [max]="maxDOBDate"
                placeholder="MM/DD/YYYY"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-hint
                class="hint-error"
                *ngIf="studentForm.get('dob')?.touched && studentForm.get('dob')?.errors?.['required']"
                >Please select the Date of Birth
              </mat-hint>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field color="accent">
              <mat-label>Date of Joining</mat-label>
              <input
                formControlName="doj"
                matInput
                [matDatepicker]="picker1"
                [max]="maxJoiningDate"
                placeholder="MM/DD/YYYY"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker1"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-hint
                class="hint-error"
                *ngIf="studentForm.get('doj')?.touched && (studentForm.get('doj')?.errors?.['required'] || studentForm.get('doj')?.hasError('dojValidator'))"
              >
                Please select the Date of Joining
              </mat-hint>
            </mat-form-field>
          </td>
        </tr>
        <br />
        <tr>
          <td colspan="2" class="controls">
            <button
              mat-stroked-button
              (click)="handleGoBack(); shouldFormSubmit = false"
            >
              Close
            </button>
            <button
              *ngIf="mode == 'add' && studentForm?.touched; else updateBtn"
              type="submit"
              [disabled]="studentForm.invalid"
              mat-raised-button
              color="primary"
            >
              Register
            </button>
            <ng-template #updateBtn>
              <button
                type="submit"
                [disabled]="studentForm.invalid"
                *ngIf="studentForm?.get('doj')"
                mat-raised-button
                color="primary"
              >
                Update
              </button>
            </ng-template>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</form>
