.title {
    font-size: 20px;
    color: brown;
    font-family: "Trebuchet MS";
    align-self: flex-start;
    padding: 10px;
  }
  
  .form-container {
    display: flex;
  }
  
  .controls {
    padding: auto;
    text-align: end;
  }
  
  button {
    margin: 10px;
  }
  
  .hint-error {
    color: red;
  }
  