.details-card {
  display: flex;
}

.top {
  display: flex;
}
.menu {
  color: darkgreen;
  align-self: flex-end;
}

.leaves {
  width: 100%;
  padding: 10px;
}

.add {
  margin: 10px;
  text-align: right;
}

.total {
  color: red;
  font-size: large;
  padding: 10px;
}

.content {
  display: inline-table;
  font-size: larger;
}

.no-leaves {
  color: green;
}
