<div class="add">
  <a mat-flat-button color="warn" (click)="openStudentDialog('add')"
    >Add Student</a
  >
</div>
<div>
  <mat-card class="details-card">
    <div class="menu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          color="warn"
          (click)="openStudentDialog('update')"
        >
          Update Student
        </button>
      </mat-menu>
    </div>
    <mat-card-header>
      <mat-card-title>
        {{ selectedStudent?.name }}
      </mat-card-title>
      <mat-card-subtitle class="content"
        ><b>ID :</b> {{ selectedStudent?.id }}</mat-card-subtitle
      >
    </mat-card-header>
    <table>
      <tr>
        <td>
          <mat-card-content class="content">
            <h3>Department :</h3>
            {{ selectedStudent?.department?.title }}</mat-card-content
          >
        </td>
        <td>
          <mat-card-content>
            <h3>Semester :</h3>
            {{ selectedStudent?.semester }}</mat-card-content
          >
        </td>
      </tr>
      <tr>
        <td>
          <mat-card-content *ngIf="selectedStudent?.department" class="content">
            <h3>HOD :</h3>
            {{ selectedStudent?.department.hod }}</mat-card-content
          >
        </td>
        <td>
          <mat-card-content class="content">
            <h3>DOJ :</h3>
            {{ selectedStudent?.doj | date : "yyyy-MM-dd" }}</mat-card-content
          >
        </td>
      </tr>
      <tr>
        <td>
          <mat-card-content class="content">
            <h3>Grades :</h3>
            {{ selectedStudent?.grades }}</mat-card-content
          >
        </td>
        <td>
          <mat-card-content class="content">
            <h3>DOB :</h3>
            {{ selectedStudent?.dob | date : "yyyy-MM-dd" }}</mat-card-content
          >
        </td>
      </tr>
    </table>
  </mat-card>
</div>
<br />

<div class="total">Your Leave(s): {{ length }}</div>
<div *ngIf="length > 0; else noLeaves">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="id">ID</th>
      <td mat-cell *matCellDef="let leave">{{ leave.id }}</td>
    </ng-container>

    <ng-container matColumnDef="Start Date">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header="startDate"
        (click)="sortData()"
      >
        Start Date
      </th>
      <td mat-cell *matCellDef="let leave">{{ leave.startDate }}</td>
    </ng-container>

    <ng-container matColumnDef="End Date">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header="endDate"
        (click)="sortData()"
      >
        End Date
      </th>
      <td mat-cell *matCellDef="let leave">{{ leave.endDate }}</td>
    </ng-container>

    <ng-container matColumnDef="Reason">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header="reason"
        (click)="sortData()"
      >
        Reason
      </th>
      <td mat-cell *matCellDef="let leave">{{ leave.reason }}</td>
    </ng-container>

    <ng-container matColumnDef="Leave Type">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header="type"
        (click)="sortData()"
      >
        Leave Type
      </th>
      <td mat-cell *matCellDef="let leave">{{ leave.type }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
</div>
<ng-template #noLeaves>
  <mat-card>
    <mat-card-content class="no-leaves">
      Excellent !!! You haven't been on leave till date this year!
    </mat-card-content>
  </mat-card>
</ng-template>
